[submodule "lib/blake3-sol"]
	path = lib/blake3-sol
	url = https://github.com/themeliolabs/blake3-sol
[submodule "lib/ed25519-sol"]
	path = lib/ed25519-sol
	url = https://github.com/themeliolabs/ed25519-sol
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
